@{
    ViewData["Title"] = "Create Product";
}

<div class="container pt-2" style="margin-top: 50px;margin-bottom: 20px; ">
    <button class="btn-btn-primary"
        style="background-color: #BB0000;font-size: 17px; margin-bottom: 20px; border-radius: 5px; padding:10px; color:#ffffff;">
        <a asp-controller="admin" asp-action="index">Back To Dashboard</a></button>
    <h1 style=" font-family: Arial; color: rgb(48, 46, 46)"> Create Product</h1>
</div>

<style>
    .form-control {
        margin-bottom: 10px;
        box-shadow: 2px 1px #BB0000;
    }
</style>
<div class="container pt-2">

    <form method="post" enctype="multipart/form-data" style="margin-bottom: 150px ;">

        <div class="mb-3 d-flex" style="gap: 10px;">
            <input type="text" class="form-control" id="ProductName" name="Name" placeholder="Enter Product Name" required>

            <input type="text" class="form-control" id="Brand" name="Brand" placeholder="Enter Brand Name" required>
        </div>

        <div class="mb-3">
            <textarea type="text" class="form-control" id="Description" name="Description"
                placeholder="Enter Product Description"></textarea>
        </div>

        <div class="mb-3 d-flex" style="gap: 10px;">
            <input type="number" class="form-control" name="OldPrice" placeholder="OldPrice">
            <input type="number" class="form-control" name="NewPrice" placeholder="NewPrice">
            <input type="number" class="form-control" name="Discount" placeholder="Discount %">
            <input type="number" class="form-control" name="Stock" placeholder="Stock">
            <input type="number" class="form-control" name="Rating" placeholder="Rating">
            <input type="number" class="form-control" name="Sold" placeholder="Sold">

        </div>

        <div class="mb-3 d-flex" style="gap: 10px;">
            @Html.DropDownList("Category", (SelectList)ViewBag.CategoryList, "Select Category", new { @class =
            "form-control" })


            <input type="text" class="form-control" name="SubCategory" placeholder="Sub Category">
            <input type="file" class="form-control" name="ImageFile" accept="image/*">

        </div>


        <button type="submit" class="btn btn-primary" style="margin-bottom: 20px; 
            margin-top: 30px; 
            background-color: #BB0000;font-size: 17px;">Create Product</button>

        <p class="text-danger pt-3">@ViewBag.ErrorMessage</p>
    </form>





</div>