@{
  ViewData["Title"] = "My Account";
}


  <style>


    .account_container {

      min-height: 90vh;
      padding: 50px;

    }
  </style>




<div class="account_container">

<h1>REGISTERED USER</h1>

<p>Kindly Login To Your Account</p>
<a asp-controller="user" asp-action="login"><button>Login</button></a>

<h1>NEW USER</h1>

<p>If New User Kindly Create An Account</p>
<a asp-controller="user" asp-action="register"><button>Create Account</button></a>


</div>

