@{
  ViewData["Title"] = "Login";
}


<style>

.login_container{

  @* border: 1px solid black; *@
  box-shadow: 2px 2px 10px 10px rgba(255, 0, 0, 0.109);
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  width: 50%;

  height: 500px;


}

</style>



<div class="login_container">



  <h3 style="margin-bottom: 30px;"> Login to your account</h3>


  <form method="post">


    
    <div class="mb-3" style="margin-bottom: 20px;">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="Email">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3" style="margin-bottom: 20px;">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="Password">
    </div>

    <a class="mb-4" href="/"> Forgot Password ?</a>

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" required>
      <label class="form-check-label" for="exampleCheck1"> I declare that i agree User agreement and privacy
        policy</label>
    </div>

    <div class="form-text pb-3"> Don't Have and account <a asp-controller="User" asp-action="Register"> Register</a>
      with us </div>

    <button type="submit" class="btn btn-primary " style="margin-top: 20px; background-color: #bb0000;" >Login</button>


    <p class="text-danger pt-3"> @ViewBag.errorMessage </p>


  </form>

</div>