@{
    ViewData["Title"] = "Register";
}
<style>
.container.pt-5{

  @* border: 1px solid black; *@
  box-shadow: 2px 2px 10px 10px rgba(255, 0, 0, 0.109);
  margin: 50px auto;
  padding: 50px;
  border-radius: 10px;
  width: 50%;

  height: 500px;


}

</style>

<div class="container pt-5 ">



    <h3> Register Page</h3>



    <form method="post">


        <div class="mb-3">
            <label for="Username" class="form-label">Username</label>
            <input type="text" class="form-control" name="Username">
        </div>

        <div class="mb-3">
            <label for="Email" class="form-label">Email address</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" name="Email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>


        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" name="Password">
        </div>


        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" required>
            <label class="form-check-label" for="exampleCheck1"> I declare that i agree User agreement and privacy
                policy</label>
        </div>

        <div class="form-text pb-3"> Already Have an account Kindly <a asp-controller="User" asp-action="Login"> Login</a>
            here </div>

        <button type="submit" class="btn btn-primary" style="background-color: #bb0000; margin-top: 20px;">Register</button>

        <p class="text-danger pt-3"> @ViewBag.errorMessage </p>

        <p class="text-success"> @ViewBag.successMessage </p>

    </form>



</div>
