@{
    ViewData["Title"] = "About";

}
<div class="about_container" style="margin-top: 40px; margin-bottom: 100px;font-size:20px;">
    <h1
        style="margin-bottom: 30px;display: flex;align-items: center; justify-content: center;font-size:44px;font-family: 'Gill Sans';">
        Welcome To QuickMeds</h1>
        <p>At QuickMeds , we are more than just a pharmacy — we are your dedicated partners in health. Nestled in the heart
        of Kashmir, our mission is to provide accessible, reliable, and personalized pharmaceutical care to our
        community.
        <br>
        Our team of licensed pharmacists and healthcare professionals brings years of experience and a deep
        understanding of
        your health needs. Whether you're managing chronic conditions, seeking guidance on over-the-counter remedies, or
        need timely prescription services, we're here to support you every step of the way.
        <br>
        We believe that healthcare should be compassionate, convenient, and community-driven. That's why we offer a
        range of
        services, including medication counseling, health screenings, and home delivery options, all designed to make
        your
        healthcare experience seamless and supportive.
        <br>
        Your health is our priority, and we're dedicated to helping you achieve and maintain your wellness goals.
        <br>
        Thank you !
        <br>
        for choosing QuickMeds — where care meets commitment.
    </p>
</div>